.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.App__Menu {
    width: 500px;
}

.App__Content {
    margin-top: 40px;
}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu__Hamburger {
    display: none;
}

.Menu__Item {
    color: #7777ff;
    font-size: 16px;
    margin: 5px 0px;
}

.Menu__Item:hover {
    color: #9999ff;
}

.Menu__Item_active {
    color: black!important;
}

.Dropdown {
    border: 1px solid #7777ff;
    margin: 5px 0px;
}

.Dropdown__Button {
    padding: 8px 10px;
    padding-right: 20px;
    background: white;
    border: 0;
    color: #7777ff;
    font-size: 16px;
}

.Dropdown__Button:focus {
    outline: 1 solid blue;
}

.Dropdown__ListContainer {
    position: relative;
}

.Dropdown__List {
    position: absolute;
    border: 1px solid #7777ff;
    border-top: 0px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 1;
    background: white;
}

.Dropdown__Item {
    color: #7777ff;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 8px 10px;
    background: transparent;
    border: 0;
}

.Dropdown__Item:hover {
    color: #9999ff;
    
}

.Dropdown__Item_active {
    color: black!important;
}



@media (max-width: 600px) {
    .App__Menu {
        width: 250px;
    }

    .Menu {
        display: none;
        flex-direction: column;
    }

    .Menu_opened {
        display: flex;
    }

    .Menu__Hamburger {
        display: block;
        border: 0;
        border-top: 7px solid black;
        box-sizing: content-box;
        height: 14px;
        background: white;
        border-bottom: 7px solid black;
        width: 25px;
        margin: 0 auto;
        position: relative;
    }

    .Menu__Hamburger:after {
        position: absolute;
        top: 6px;
        height: 7px;
        background: black;
        left: 0px;
        right: 0px;
        content: '';
        display: block;
    }

    .Menu__Hamburger:before {
        display: block;
        content: 'click me!';
        width: 80px;
        font-size: 20px;
        left: 120%;
        top: -2px;
        position: absolute;
    }
}

